
#app{
    position: absolute;
    width: 300px;
    height: 400px;
}

#bee{
    position: absolute;
    width: 50px;
    left: 10px;
    top: 60%;
}

#dragonfly{
    position: absolute;
    width: 130px;
    left: 100px;
    top: 100%;
}

#berry{
    position: absolute;
    width: 35px;
    left: 170px;
    top: 50%;
}

#scallion{
    position: absolute;
    width: 60px;
    left: 300px;
    top: 105%;    
}

#flower1{
    position: absolute;
    width: 50px;
    left: 350px;
    top: 50%;
}

#ok1{
    position: absolute;
    width: 50px;
    left: 350px;
    top: 50%;  
    visibility: hidden;
}

#flower2{
    position: absolute;
    width: 50px;
    left: 395px;
    top: 80%;    
}

#ok2{
    position: absolute;
    width: 50px;
    left: 395px;
    top: 80%;   
    visibility: hidden;
}


#arrowUP{
    position: absolute;
    width: 80px;
    left: 20px;
    bottom: -40%;
    transform: rotate(-90deg);
}

#arrowDown{
    position: absolute;
    width: 80px;
    left: 80px;
    bottom: -40%;
    transform: rotate(90deg);
}

#arrowLeft{
    position: absolute;
    width: 80px;
    left: 150px;
    bottom: -40%;
    transform: rotate(180deg);
}

#arrowRight{
    position: absolute;
    width: 80px;
    left: 240px;
    bottom: -40%;
}

